mat-form-field {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

.button-container button.mat-raised-button {
  margin-right: 40px; /* Agrega margen derecho entre los botones */
}


  .example-radio-button {
    margin: 5px;
  }
