<div class="quienes-somos">
  <h1>¿Quienes Somos?</h1>
  <div class="row">
    <div class="column-1-T">
      <p>Runners United es una aplicación, conformada por Acevedo Ramos Frank,
        quien es el Scrum Master de este proyecto quien tienes conocimientos en desarrollo Front-end
        y por último Hernandez Pineda Luis con buenas bases y conocimientos en Angular y Front-end..</p>
    </div>
    <div class="column-2-I">
      <img src="assets/imagen1.jpg" class="miniaturas" alt="libros">
    </div>
  </div>
</div>

<div class="empieza-escribir">
  <h1>¡Empieza a Escribir!</h1>
  <div class="row">
    <div class="column-1-I">
      <img src="assets/imagen2.jpg" class="miniaturas" alt="libros">
    </div>
    <div class="column-2-T">
      <p>CREADOR FRONTEND</p>
    </div>
  </div>
</div>

<div class="unete-ya">
    <div class="column-2-TU">
      <button mat-raised-button routerLink="/register" routerLinkActive="active" >REGÍSTRATE</button>
    </div>

</div>

